BluePrismChallenge/.vs/
BluePrismChallenge/Application/obj/
BluePrismChallenge/ApplicationTest/obj/
BluePrismChallenge/Application/bin/
BluePrismChallenge/ApplicationTest/bin/Debug/netcoreapp2.1/Application.dll
BluePrismChallenge/ApplicationTest/bin/
